@* @model HotelProfile; *@

@{
    ViewData["Title"] = "HotelProfile";
}


<h1>@ViewData["Title"]</h1>

<header>
    <div class="fullname">
        @* <p>@Model.Name</p> *@
        @* <p>@Model.Price</p> *@
        <p></p>
    </div>
</header>

<div class="info">
    <p>
        <b>Skills:</b> 
        @* @foreach(var skill in Model.Skills) {
            <span class="skill">@skill</span>
        } *@
    </p>
</div>