@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на Менеджер отелей.</h1>
    <p>Это главная страница сайта <b>Менеджера отелей</b>.</p>
</div>

