@using System.Text.Json;
@model IEnumerable<Hotel>

@{
    ViewData["Title"] = "Home";

}
<div>
    <h2>Names: </h2>
    @foreach(var user in base.Model) {
    <div class="user-info" style="margin: 10px; border: 1px solid black;">
        <label style="display: block;">
            name: 
            <input:text>@user.Name</input:text>
        </label>
        <label style="display: block;">
            price: 
            <input:text>@user.Price</input:text>
        </label>
    </div>
    }
</div>