@{
    ViewData["Title"] = "Ошибка в Id.";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>Здравствуйте! К сожалению произошла ошибка с ID отеля...</p>
    <p>Пожалуйста перейдите обратно на страницу просмотра отелей, для покупки номеров.</p>
    <button type="button" class="btn btn-success">Перейти на просмотр отелей</button>
</div>